$f_sans: "ff-basic-gothic-web-pro";
$bike_border_color: hsl(10, 10%, 78%);
$f_serif: "minion-pro", Georgia, serif;

body.bike {
  pre {
    margin: 30px 0 30px 40px;
  }
  pre,code {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    line-height: 20px;
  }
  header#post-header h1 {
    margin-top: 1em;
  }
  header#main {
    height: auto;
    overflow: visible;
    margin-left: 3em;
    margin-top: 2em;
    h1 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      display: inline;
      font-family: $f_sans;
      font-size: 0.9em;
      font-weight: 400;
    }
  }
  div.figure {
    margin: 20px 0;
    width: 750px;
    img { max-width: 100%; }
    .caption {
      margin: 0px 0 10px;
      font-family: $f_sans;
      font-size: 12px;
      font-weight: 400;
      color: #555;
    }
  }
  .nav-and-content {
  }
  #bike-nav {
    li { 
      padding: 2px 0;
      list-style: none; 
      font-size: 11px;
      font-family: $f_sans;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      a {
        color: #777;
        border-bottom: none;
        &:hover {
          border-bottom: 1px solid $red;
        }
      }
      &.active {
        a {
          color: black;
          border-bottom: 1px solid $red;
        }
      }
    }
    width: 140px;
    margin-left: 26px;
    text-align: center;
    margin-top: 36px;
    float: left;
  }
  section#content {
    margin-top: 0;
    margin-left: 190px;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    width: 640px;
    border-left: 1px solid $bike_border_color;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: $f_serif;
    h2 {
      margin-bottom: 0;
      font-family: $f_sans;
      margin-top: 30px;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
  }
  header#post-header { 
    h1 {
      font-family: $f_sans;
      margin-top: 0;
      margin-bottom: 1.0em;
      font-size: 22px;
      font-weight: 300;
    }
  }
  footer#post-footer {
    font-family: $f_serif;
    font-size: 16px;
    font-style: italic;
  }
  footer#main {
    font-family: $f_sans;
    color: #777;
    font-weight: 400;
    a { 
      color: #777; 
      border-bottom-color: #ccc;
      &:hover {
        color: #000;
        border-bottom-color: #000;
      }
    }
    width: auto;
    margin-left: 0;
    padding-left: 220px;
    border-top-color: $bike_border_color;
    margin-top: 0;
    padding-top: 25px;
  }
}
