body.photo {
  header#main { display: none }
  #post-header {
    font-size: 12px;
    margin-bottom: 30px;
  }
  #content, footer#main {
    width: 960px;
    margin: 0 auto;
    max-width: 960px;
  }
  footer#main {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  p {
    max-width: 600px;
  }
}
