$f_sans: "ff-basic-gothic-web-pro-1","ff-basic-gothic-web-pro-2", "Basic Gothic OT", verdana;
body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 14px;
  line-height: 1.4em;
}
pre,code {
  font-family: "source-code-pro-1", "source-code-pro-2", "Source Code Pro";
}
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid hsl(0, 60%, 40%);
  &:hover {
    border-bottom: 1px solid black;
  }
}
header#main {
  height: 25px;
  overflow: hidden;
  &.home {
    overflow: visible;
    height: auto;
    margin-top: 40px;
    h1 {
      font-family: $f_sans;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0;
      margin-left: 42px;
      a {
        text-transform: none;
        letter-spacing: 0;
      }
    }
  }
  #block-one {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 0;
    background-color: rgba(0,0,0,0.03);
    z-index: -10;
  }
  #block-two {
    position: absolute;
    height: 300px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.03);
    width: 25px;
    z-index: -10;
  }
  #clicker {
    a {
      display: block;
      float: left;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      background-color: rgba(0,0,0,0.05);
      &:hover {
        background-color: rgba(0,0,0,0.25);
      }
      cursor: pointer;
    }
  }
}
section#content {
  margin-left: 3em;
  margin-top: 2em;
  max-width: 600px;
}
section#content.index {
  font-family: $f_sans;
}

section header h1 {
  font-family: $f_sans;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 1em;
}
header#post-header {
  h1 {
    font-weight: 200;
    font-size: 1.6em;
    font-family: $f_sans;
    margin-bottom:0;
  }
  h2 {
    font-weight: normal;
    font-size: 1em;
    font-family: $f_sans;
    margin-top: -0.5em;
    margin-bottom:0;
    color: #777;
  }
}

#sym-post {
  width: 760px;
  .container {
    position: relative;
  }
  .span-8 {
    width: 520px;
    float: left;
    margin-right:20px;
  }
  .span-4 {
    width: 220px;
    float: left;
    margin-right:20px;
  }
  .last {
    margin-right: 0;
  }
  aside {
    font-family: $f_sans;
    font-size: 0.85em;
    line-height: 1.5em;
  }
  pre.clickable {
    color: #761F9E;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select:none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  #page_1_box, #page_2_box, #page_4_box {
    margin-top: -3em;
    position: absolute;
    left: 510px;
  }
  overflow:hidden;
}
#mcas-post {
  text.key {
    font-size: 0.8em;
  }

  line.key {
    stroke-width: 1px;
    stroke: #666;
  }
  #chart-1 {
    position: relative;
    path.state {
      fill: #f9f9f9;
      stroke: #ccc;
      stroke-width: 1px;
    }
  }
  #info {
    h2, .body {
      font-size: 0.9em;
    }
    h2 { 
      color: #333; 
      margin: 0.4em 0;
    }
    color: #777;
    position: absolute;
    top: 153px;
    left: 721px;
    width: 230px;
    dt {
      margin: 0;
      text-align: right;
      //@include column(2);
    }
    dd {
      margin: 0;
      //@include column(3,true);
    }
  }
  circle.point { 
    cursor: pointer;
    fill: #000; 
    &.active {
      fill: red;
    }
  }
  circle.key {
    fill: #000;
  }
  h2 {
    font-size: 14px;
    font-weight: normal;
  }
  nav {
    width: 900px;
    margin: 2em 0;
    section {
      overflow: auto;
      margin: 1em 0;
    }
    header {
      width: 420px;
      padding-right: 10px;
      float: left;
      text-align: right;
      h2 { 
        margin: 0; 
        font-style: italic; 
      }
    }
  }
  nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li { 
      color: #aaa;
      padding-right: 2px;
      &:hover {
        color: #000;
      }
      display: inline;
      cursor: pointer; 
      &.active {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

footer#main {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
  p { margin: 0.5em 0; }
  width: 600px;
  margin-left: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  font-family: $f_sans;
}
