<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>$title$</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

    <link rel="alternate" type="application/atom+xml" title="Posts" href="/rss/bike/atom.xml" />

    <script type="text/javascript" src="//use.typekit.net/uaq4cet.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bike/main.js"></script>
  </head>

  <body class="bike">
    <div class="nav-and-content">

      <nav id="bike-nav">
        <li><a href="/bike">ME to MN</a></li>
        <li><a href="/bike/disc-golf.html">Disc Golf</a></li>
        <li><a href="/bike/granny-gears.html">Granny Gears</a></li>
        <li>...</li>
      </nav>

      <section id="content">
        <header id="post-header">
          <h1>$title$</h1>
          <h2></h2>
        </header>

        $body$

        <footer id="post-footer">
          <p>
            $date$, $from$
          </p>
        </footer>
      </section>

    </div>

    <footer id="main">
    <p>
      Michael Hoy
      <span class="vert-bar">|</span>
      <a href="mailto:michael.john.hoy@gmail.com">email</a>
      <span class="vert-bar">|</span>
      <a href="http://twitter.com/mjhoy">twitter</a>
    </p>
    </footer>

  </body>
</html>
