<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>mjhoy.com - $title$</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript" src="//use.typekit.net/ega7ytn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>

  <body>
    <header id="main">
      <div id="block-one"></div>
      <div id="block-two"></div>
      <div id="clicker">
        <a href="/">mjhoy.com</a>
      </div>
    </header>

    <section id="content">
      <header id="post-header">
        <h1>$title$</h1>
      </header>

      $body$
    </section>

    <footer id="main">
    <p>
      Posted $date$
      <span class="vert-bar">|</span>
      <a href="/">mjhoy.name</a>
    </p>
    </footer>

  </body>
</html>
