<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>mjhoy.com - $title$</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript" src="//use.typekit.net/ega7ytn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header id="main" class="home">
    
    <h1>
      <img src="/images/P1150352.jpg"><br><br>
      Michael J Hoy | <a href="mailto:michael.john.hoy@gmail.com">michael.john.hoy@gmail.com</a></h1>
    </header>
    <section id="content" class="index">
      $body$
    </section>
  </body>
</html>
